<%= render contactable rescue nil%>

<p>
  <span class='label'><%= contactable.class.human_attribute_name('name') %>:</span> <%= contactable.name %>
</p>
<p>
  <span class='label'><%= contactable.class.human_attribute_name('birthday') %>:</span> <%= contactable.birthday %>
</p>
<% ['identification','phone', 'email', 'address', 'instant_messenger', 'website'].each do |field_name| %>
  <%= render :partial => 'contactable/contactable_field', :locals => {:contactable => contactable, :field_name => field_name} %>
<% end %>